.header-logo {
  width: 150px;
  height: 50px;
  object-fit:cover;
}

.marque {
  background-color: brown;
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding: 3px 0;
}

.main-header {
  height: 80px;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-header {
  display: flex;
  width: 25%;
  height: 38px;
}

.search-header form {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.search-header form input {
  height: 100%;
  width: 100%;
}

.btn-search {
  padding: 0 10px;
  width: 20%;
  border: none;
  border-radius: 5px;
  height: 100%;
  font-size: 16px;
  color: #111;
  background-color: aliceblue;
  margin-left: 10px;
}

.btn-auth {
  background-color: #0d9488;
  color: #fff;
  padding: 5px 20px;
  border-radius: 2px;
  border: none;
  margin: 0 10px;
  font-size: 15px;
  cursor: pointer;
}

.header-bar {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.register-container {
  position: fixed;
  z-index: 222;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container{
  width: 100%;
  height: 90%;
}

/* registration  Style */
.reg-inner {
  height: 95%;
  width: 70%;
  background-color: #fff;
  border-radius: 10px;
  overflow-y: auto;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  position: relative;
}

.register-close {
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 10px;
  font-size: 25px;
  color: #8d8d8d;
  cursor: pointer;
}

.register-container {
  width: 100%;
  display: flex;
}

.left-con {
  width: 48%;
}

.left-con img {
  width: 100%;
}

.right-con {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.register-title {
  margin: 10px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.right-con form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.right-con form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.register-form {
  margin-top: 5px;
  width: 60%;
}

.register-form div input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0 5px;
}

.register-form div label {
  font-family: "rubik";
  font-size: 20px;
  font-weight: 500;
}

.register-btn {
  background-color: aqua;
  color: #111;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin: 20px 0;
}

.errors {
  border: 2px solid red !important;
}

.good {
  border: 2px solid green !important;
}

.p-error {
  color: red;
  margin: 0;
  padding: 0;
}

.register-icon {
  color: red;
  font-size: 50px;
}



/* Media Screen for Header */
@media screen and (max-width:768px) {
  .main-header {
    height: auto;
    background-color: #111;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* Registration media screen styling */
  .register-container {
    position: fixed;
    z-index: 222;
    height: 90vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .reg-inner {
    height: 90%;
    width: 95%;
    background-color: #fff;
    border-radius: 5px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
    justify-content: space-between;
    position: relative;
  }

  .reg-inner .times{
    margin-top: 20px;
  }

  .left-con {
    width: 100%;
  }

  .left-con img {
    width: 100%;
  }

  .right-con {
    margin: 10px auto;
  }

  .right-con form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .right-con form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .register-form {
    margin: 10px 0;
    width: 200%;
  }

  .register-form .div input {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0 5px;
  }

  .register-form div label {
    font-family: "rubik";
    font-size: 17px;
    font-weight: 500;
  }

  /* Login Media screen styling */
  .login-container .login-header {
    width: 100%;
    padding:15px;
  }

  .login-container .times{
    margin-top: 1em;
   
  }

  .login-container{
    min-width: 95%;
    display: flex;
    /* padding: 1em; */
    height: 80%;
    align-items: center;
   
  }

  .div {
    width: 100%;
  }

  .in-div {
    width: 100%;
  }

  .login-form form div input {
    width: 100%;
  }

  .remember{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .remember label{
    font-size: 15px;
  }
  /* ending of login media screen */

  .header-logo {
    width: 100%;
    height: 50px;
    object-fit: cover;
  }

  .search-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    height: 40px;
  }

  .search-header form {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 0;
    overflow: hidden;
  }

  .search-header form input {
    height: 100%;
    width: 100%;
    border-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn-search {
    padding: 0 18px;
    border: none;
    border-radius: 0px;
    height: 100%;
    font-size: 16px;
    color: #111;
    background-color: aliceblue;
    margin-left: 5px;
  }


  .btn-auth {
    background-color: #0d9488;
    color: #fff;
    padding: 7px 25px;
    border-radius: 2px;
    border: none;
    margin: 0 10px;
    font-size: 15px;
    cursor: pointer;
  }

}

@media screen and (max-width:350px) {
  .search-header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 14px 0;
    height: 100%;
  }

  .header-logo {
    width: 100%;
    height: 40px;
    object-fit: cover;
  }

  .search-header form input {
    padding: 8px 20px;
    height: 100%;
    width: 100%;
    border-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .search-header form {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 0;
    overflow: hidden;
  }

  .btn-search {
    padding: 4px 20px;
    border: none;
    width: 30%;
    border-radius: 5px;
    height: 100%;
    font-size: 16px;
    color: #111;
    background-color: aliceblue;
    margin: 5px 5px;
  }

  .auth {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  .btn-auth {
    background-color: #0d9488;
    color: #fff;
    padding: 7px 25px;
    border-radius: 2px;
    border: none;
    margin: 0 10px;
    font-size: 15px;
    cursor: pointer;
  }

  
  .login-container{
    min-width:98%;
  }

}