*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Media screen for Aside-Dashboard */

@media screen and (max-width:768px) {
    .aside-dashboard{
        height: 100%;

    }

    .first-con{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .aside_1 h3{
        font-size: 25px;
        margin-bottom: 1em;
    }

    .aside_2 h3{
        font-size: 25px;
        margin-bottom: 1em;
    }

    .aside_1  button{
        width: 300px;
    }
    .aside_1 span{
        font-size: 17px;
    }
    .aside_2 span{
        font-size: 17px;
    }
    .aside_3 span{
        font-size: 17px;
    }

    .aside_2  button{
        width: 300px;
    }

    .aside_3  button{
        width: 300px;
    }

    
}