*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* Media screen for Change Password */

@media screen and (max-width:768px){

     .changeP-cont{
        width: 100%;
        padding: 10px;
     }

     .changeP-cont h2{
        font-size: 20px;
        padding: 1em;
        font-family: poppins, sans-serif;
     }

     .changeP-cont form{
        min-width: 100%;
     }

     .changeP-cont  .input-psw {
        min-width: 100%;
        margin-bottom: 1em;
     }

     form .btn-psw{
        width: 20em;
     }
    
}