/* Media screen for Reset Password */
@media screen and (max-width:768px) {

    .reset-container .reset-form{
        width:90%;
    }

    .reset-container .login-form{
        margin: 20px 0;
    }

    .in-div input{
        width:100%;
    }

    .btn-reset{
        padding:10px;
        width: 40%;
        margin:10px auto;
    }

}